# (C) British Crown Copyright 2018, Met Office.
# Please see LICENSE.rst for license details.

include *.rst
include setup.cfg
include pylintrc
include cdds_transfer/arguments.json
recursive-include doc *
recursive-include cdds_transfer/tests *
