# (C) British Crown Copyright 2019-2025, Met Office.
# Please see LICENSE.md for license details.
#
# This general config file lists settings used throughout CDDS
[transfer_facetmaps]
valid = drs_specs|mip|date|experiment_id|grid|institution_id|mip_era|variant_label|model_id||variable|stream|output|region|branding|frequency
atomic = drs_specs|mip|date|experiment_id|grid|institution_id|mip_era|variant_label|model_id||variable|region|branding|frequency
name = variable|branding|frequency|region|model_id|experiment_id|variant_label|grid|[date]
dataset_id = drs_specs|mip_era|mip|institution_id|model_id|experiment_id|variant_label|region|frequency|variable|branding|grid
mass = drs_specs|mip_era|mip|institution_id|model_id|experiment_id|variant_label|region|frequency|variable|branding|grid
