# (C) British Crown Copyright 2022, Met Office.
# Please see LICENSE.rst for license details.

[rabbit]
host = <RABBIT_HOSTNAME>
port = <PORT_NUMBER>
vhost = <RABBIT_VHOST>
cacert = <FULL_PATH_TO_CACERT_FILE>
client_cert = <FULL_PATH_TO_CLIENT_CERTIFICATE>
client_key = <FULL_PATH_TO_CLIENT_KEY>
