# (C) British Crown Copyright 2017-2019, Met Office.
# Please see LICENSE.md for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has an AERmon
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT]
dimension = longitude latitude alevel time
mip_table_id = AERmon
reviewer = N/A
status = embargoed

[ch4]
expression = (MOLECULAR_MASS_OF_AIR / MOLECULAR_MASS_OF_CH4)
    * m01s34i009[lbproc=128]
reviewer = Alex Archibald <alex.archibald@atm.ch.cam.ac.uk>
status = ok

[n2o]
expression = (MOLECULAR_MASS_OF_AIR / MOLECULAR_MASS_OF_N2O)
    * m01s34i049[lbproc=128]
reviewer = Alex Archibald <alex.archibald@atm.ch.cam.ac.uk>
status = ok

[o3]
expression = (MOLECULAR_MASS_OF_AIR / MOLECULAR_MASS_OF_O3)
    * m01s34i001[lbproc=128]
reviewer = Alex Archibald <alex.archibald@atm.ch.cam.ac.uk>
status = ok

[ua]
expression = m01s00i002[lbproc=128]
reviewer = Gill Martin <gill.martin@metoffice.gov.uk>
status = ok

[va]
expression = m01s00i003[lbproc=128]
reviewer = Gill Martin <gill.martin@metoffice.gov.uk>
status = ok

[zg]
expression = m01s16i201[lbproc=128]
reviewer = Alistair Sellar <alistair.sellar@metoffice.gov.uk>
status = ok
