# (C) British Crown Copyright 2017-2020, Met Office.
# Please see LICENSE.rst for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has a UKESM
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.
#
# lbtim_ia constraint denotes the sampling frequency in hours

[DEFAULT]
positive = None
reviewer = N/A
status = embargoed

[tas]
component = boundary-layer
dimension = longitude latitude time reftime1 height2m leadtime
expression = tas
mip_table_id = Amon
reviewer =
status = ok
units = K
