# (C) British Crown Copyright 2016-2018, Met Office.
# Please see LICENSE.rst for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has a day
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT]
mip_table_id = day
reviewer = N/A
status = embargoed

[ua850]
component = atmos-physics
dimension = longitude latitude p850 time
expression = m01s30i201[blev=P850, lbproc=128]
    / m01s30i301[blev=P850, lbproc=128]
positive = None
units = m s-1
