# (C) British Crown Copyright 2016-2025, Met Office.
# Please see LICENSE.md for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has a CFsubhr
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT]
mip_table_id = CFsubhr
reviewer = N/A
status = embargoed

[ta]
expression = m01s30i111
