# (C) British Crown Copyright 2018-2025, Met Office.
# Please see LICENSE.md for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has a HadGEM3
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT]
positive = None
reviewer = N/A
status = embargoed

[baresoilFrac]
component = land
dimension = longitude latitude typebare time
expression = land_class_area(m01s03i317[lbproc=128], m01s03i395[lbproc=128],
    land_class='bareSoil')
mip_table_id = Lmon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = %

[c3PftFrac]
component = land
dimension = longitude latitude typec3pft time
expression = land_class_area(m01s03i317[lbproc=128], m01s03i395[lbproc=128],
    land_class='c3')
mip_table_id = Lmon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = %

[c4PftFrac]
component = land
dimension = longitude latitude typec4pft time
expression = land_class_area(m01s03i317[lbproc=128], m01s03i395[lbproc=128],
    land_class='c4')
mip_table_id = Lmon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = %

[grassFrac]
component = land
dimension = longitude latitude typenatgr time
expression = land_class_area(m01s03i317[lbproc=128], m01s03i395[lbproc=128],
    land_class='grass')
mip_table_id = Lmon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = %

[hfcorr]
component = ocean
dimension = longitude latitude time
expression = hfcorr
mip_table_id = Omon OPmon
positive = down
reviewer = Matthew Couldrey (University of Reading)
status = ok
units = W m-2

[lai]
component = land
dimension = longitude latitude time
expression = land_class_mean(m01s03i318[lbproc=128], m01s03i317[lbproc=128],
    land_class='natural')
mip_table_id = Lmon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = 1

[pathetao]
component = ocean
dimension = longitude latitude olevel time
expression = pathetao
mip_table_id = Emon OPmonLev
reviewer = Matthew Couldrey (University of Reading)
status = ok
units = degC

[prthetao]
component = ocean
dimension = longitude latitude olevel time
expression = prthetao
mip_table_id = Emon OPmonLev
reviewer = Matthew Couldrey (University of Reading)
status = ok
units = degC

[residualFrac]
comment = Fraction of entire grid cell that is land and is covered by
    'non-vegetation' and 'non-bare-soil' (e.g., urban, ice, lakes, etc.).
component = land
dimension = longitude latitude typeresidual time
expression = land_class_area(m01s03i317[lbproc=128], m01s03i395[lbproc=128],
    land_class='residual')
mip_table_id = Lmon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = %

[shrubFrac]
component = land
dimension = longitude latitude typeshrub time
expression = land_class_area(m01s03i317[lbproc=128], m01s03i395[lbproc=128],
    land_class='shrub')
mip_table_id = Lmon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = %

[treeFrac]
component = land
dimension = longitude latitude typetree time
expression = land_class_area(m01s03i317[lbproc=128], m01s03i395[lbproc=128],
    land_class='tree')
mip_table_id = Lmon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = %

[treeFracBdlDcd]
component = land
dimension = longitude latitude typetreebd time
expression = land_class_area(m01s03i317[lbproc=128], m01s03i395[lbproc=128],
    land_class='broadLeafTreeDeciduous')
mip_table_id = Emon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = %

[treeFracNdlEvg]
component = land
dimension = longitude latitude typetreene time
expression = land_class_area(m01s03i317[lbproc=128], m01s03i395[lbproc=128],
    land_class='needleLeafTreeEvergreen')
mip_table_id = Emon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = %

[ua10]
comment = A division by the Heaviside function, as used in UKESM1-0-LL has 
    been removed from the mapping used to calculate this variable. As the 
    10 hPa level is well above the surface everywhere this should have no
    impact on the scientific content of this variable
component = atmos-physics
dimension = longitude latitude p10 time
expression = m01s30i201[blev=P10, lbproc=128]
mip_table_id = AERday AEday
reviewer = Matthew Mizielinski (Met Office)
status = ok
units = m s-1

[vegFrac]
component = land
dimension = longitude latitude typeveg time
expression = land_class_area(m01s03i317[lbproc=128], m01s03i395[lbproc=128],
    land_class='natural')
mip_table_id = Emon LPmon
reviewer = Ron Kahana (Met Office)
status = ok
units = %
