# (C) British Crown Copyright 2024, Met Office.
# Please see LICENSE.rst for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has a common
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT]
positive = None
reviewer = N/A
status = embargoed
mip_table_id = Eday

[COMMON]
radiation_comment = For instantaneous outputs, this diagnostic represents an
    average over the radiation time step using the state of the atmosphere
    (T,q,clouds) from the first dynamics step within that interval. The time
    coordinate is the start of the radiation time step interval, so the value
    for t(N) is the average from t(N) to t(N+1).


[ts]
comment = "skin" temperature (i.e., SST for open ocean).
component = atmos-physics boundary-layer
dimension = longitude latitude time
expression = m01s00i024[lbproc=128]
units = K

