# (C) British Crown Copyright 2024, Met Office.
# Please see LICENSE.rst for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has a common
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.
[DEFAULT]
positive = None
reviewer = N/A
status = embargoed

[psl]
component = atmos-physics
dimension = longitude latitude time1
expression = m01s16i222[lbproc=0]
mip_table_id = CF3hr
units = Pa
