# (C) British Crown Copyright 2022-2023, Met Office.
# Please see LICENSE.rst for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' for the HRday table

[DEFAULT]
positive = None
reviewer = N/A
status = embargoed

[evspsbl]
mip_table_id = Amon Eday HRday
