# (C) British Crown Copyright 2022-2023, Met Office.
# Please see LICENSE.rst for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' for the HROday table.

[DEFAULT]
positive = None
reviewer = N/A
status = embargoed

[mlotst]
mip_table_id = Eday Omon HROday

[zos]
mip_table_id = Omon HROday
