# THIS FILE IS PART OF CDDS
# Copyright (C) British Crown (Met Office) & Contributors.
# Licenced under the BSD 3 clause license https://opensource.org/license/bsd-3-clause
# See the LICENSE file in the top level of this repository for full details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has an Omon
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT]
component = ocean
mip_table_id = Omon
reviewer = N/A
status = embargoed

[prra]
comment = Computed as the total mass of liquid water falling as liquid rain
    into the ice-free portion of the ocean divided by the area of the ocean
    portion of the grid cell.
expression = pr
reviewer = Daley Calvert <daley.calvert@metoffice.gov.uk>
status = ok

[prsn]
expression = prsn
reviewer = Daley Calvert <daley.calvert@metoffice.gov.uk>
status = ok
