# (C) British Crown Copyright 2018-2025, Met Office.
# Please see LICENSE.md for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has an Oyr
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT]
mip_table_id = Oyr
reviewer = N/A
status = embargoed

[opottempdiff]
expression = opottempdiff

[opottempmint]
expression = opottempmint

[opottemppmdiff]
expression = opottemppmdiff

[opottemprmadvect]
expression = opottempadvect

[opottemptend]
expression = opottemptend

[osaltdiff]
expression = osaltdiff

[osaltpmdiff]
expression = osaltpmdiff

[osaltrmadvect]
expression = osaltadvect

[osalttend]
expression = osalttend
