# (C) British Crown Copyright 2017-2018, Met Office.
# Please see LICENSE.md for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has a Prim6hrPt
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT]
mip_table_id = Prim6hrPt
positive = None

[thetapv2]
component = atmos-physics
expression = m01s15i215[lbproc=0]
units = K
