# (C) British Crown Copyright 2018, Met Office.
# Please see LICENSE.rst for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has an RAMIPday
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT] #Copied to all variables below
mip_table_id = RAMIPday
reviewer = N/A
status = embargoed

[mmrbcs]
comment = Reported as kg C/kg air.
component = aerosol
dimension = longitude latitude time
expression = m01s34i105[lbproc=128,lblev=0] + m01s34i109[lbproc=128,lblev=0]
    + m01s34i115[lbproc=128,lblev=0] + m01s34i120[lbproc=128,lblev=0]
units = kg kg-1
