# (C) British Crown Copyright 2018, Met Office.
# Please see LICENSE.md for license details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has a SIday
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT]
mip_table_id = SIday
reviewer = N/A
status = embargoed

[siconc]
expression = aice
reviewer = Jeff Ridley <jeff.ridley@metoffice.gov.uk>
status = ok

[sisnthick]
expression = sisnthick

[sispeed]
expression = sispeed

[sithick]
expression = sithick

[sitimefrac]
expression = ice_present

[siu]
expression = siu

[siv]
expression = siv
