# THIS FILE IS PART OF CDDS
# Copyright (C) British Crown (Met Office) & Contributors.
# Licenced under the BSD 3 clause license https://opensource.org/license/bsd-3-clause
# See the LICENSE file in the top level of this repository for full details.
#
# This 'model to MIP mappings' configuration file contains sections
# for each 'MIP requested variable name' that has an E3hr
# 'model to MIP mapping'. Please see the 'User Guide' for more
# information.

[DEFAULT]
mip_table_id = E3hr
reviewer = N/A
status = embargoed

[gpp]
component = carbon
dimension = longitude latitude time
expression = m01s03i261[lbproc=128]
reviewer = Andy Wiltshire <andy.wiltshire@metoffice.gov.uk>
status = ok
units = kg m-2 s-1