# (C) British Crown Copyright 2015-2025, Met Office.
# Please see LICENSE.md for license details.

include *.md
include setup.cfg
include pylintrc
recursive-include etc *
recursive-include mip_convert/process *.cfg
recursive-include mip_convert/tests *
