# (C) British Crown Copyright 2022, Met Office.
# Please see LICENSE.md for license details.

include *.rst
include setup.cfg
include pylintrc
recursive-include cdds *
recursive-include etc *
recursive-include tests *
recursive-include common/plugins *
