# (C) British Crown Copyright 2022-2025, Met Office.
# Please see LICENSE.md for license details.

include *.md
include setup.cfg
include pylintrc
recursive-include cdds *
recursive-include etc *
recursive-include tests *
recursive-include common/plugins *
