# (C) British Crown Copyright 2021, Met Office.
# Please see LICENSE.rst for license details.

include *.rst
include setup.cfg
include pylintrc
recursive-include doc *
recursive-include etc *
recursive-include cdds_common/tests *
recursive-include cdds_common/cdds_plugins/cmip6/data/model *
recursive-include cdds_common/cdds_plugins/gcmodeldev/data/model *
