# (C) British Crown Copyright 2018, Met Office.
# Please see LICENSE.rst for license details.

include *.rst
include setup.cfg
include pylintrc
recursive-include doc *
recursive-include cdds_qc_plugin_cmip6/tests *
